[Unit]
Description=Fetch & install the latest Headscale release
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/headscale-selfupdate