[Unit]
Description=Traefik v3
After=network-online.target
Wants=network-online.target

[Service]
User=traefik
Group=traefik
EnvironmentFile=/etc/traefik/hetzner.env    
ExecStart=/usr/local/bin/traefik --configFile=/etc/traefik/traefik.yml
Restart=on-failure
LimitNOFILE=1048576
EnvironmentFile=/etc/traefik/hetzner.env
ProtectSystem=strict
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
